<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Task CRUD | Criar</title>

	<link rel="stylesheet" href="/css/style.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<script>
		$(document).ready(function() {
			if ("<%=data.anexo%>" != "") {
				$("#download").removeAttr('disabled');
			}
		});

		function showDone() {
			$("#inputDone").removeAttr('disabled');
			$("#inputDone").val("<%=nameDone%>");
		}

		function hideDone() {
			$("#inputDone").attr('disabled', 'disabled');
			$("#inputDone").val("");
		}

		function uploadFile(event) {
			$("#btnSubmit").attr('disabled', 'disabled');
			$("#download").attr('disabled', 'disabled');

			var file = event.target.files[0];
			console.log(file)
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/upload");
			var formData = new FormData();
			formData.append("file", file);

			xhr.addEventListener('progress', function(e) {
				var done = e.position || e.loaded;
				var total = e.totalSize || e.total;
				console.log('xhr progress: ' + (Math.floor(done / total * 1000) / 10) + '%');
			}, false);
			xhr.onreadystatechange = function(e) {
				if (4 == this.readyState) {
					console.log(this.responseText);
					$("#btnSubmit").removeAttr('disabled');
					$("#download").removeAttr('disabled');
					$("#anexo").val(this.responseText);

				}
			};
			xhr.send(formData);
		}

		function downloadFile() {
			var file = $("#anexo").val();
			$.ajax({
				url: "/download/" + file,
				type: 'GET',
				success: function(data) {
					//console.log(data);
					$("#downloadLink").attr("href", location.protocol + '//' + location.host + "/uploads/file." + file.substr(file.lastIndexOf('.') + 1));
					document.getElementById('downloadLink').click();
				}
			});
		}
	</script>

</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">Gerenciador de Tarefas</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a>Criar Tarefa</a></li>
				<li><a href="/listar">Visualizar Tarefas</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<form action="<%=action%>" method="POST">
			<div class="form-group">
				<label>Nome da tarefa:</label>
				<input class="form-control" type="text" placeholder="Título" name="titulo" value="<%=data.titulo%>">
			</div>
			<div class="form-group">
				<label>Descrição da tarefa:</label>
				<textarea class="form-control" type="text" placeholder="Descrição" name="desc"><%=data.desc%></textarea>
			</div>
			<div class="form-group">
				<label>Prioridade:</label>
				<select class="form-control" name="prioridade">
					<%var options = [ "0", "1", "2", "3", "4" ];
					for ( var i = 0; i < options.length; i++ ){		
						var selected = (data.prioridade == i) ? "selected" : "";%>	
						<option value="<%=options[i]%>" <%=selected %>>
							<%=i%>
						</option>
					<%}%>
  				</select>
			</div>
			<div class="form-group">
				<label>Status:</label>
				<label class="radio-inline">
				<%if(data.status == "Incompleto"){%>
      				<input type="radio" name="status" value="Incompleto" checked="checked" onclick="hideDone();">Incompleto
				<%}else{%>
					<input type="radio" name="status" value="Incompleto" onclick="hideDone();">Incompleto
				<%}%>
    		</label>
				<label class="radio-inline">
				<%if(data.status == "Completo"){%>
      				<input type="radio" name="status" value="Completo" checked="checked" onclick="showDone();">Completo
				<%}else{%>
					<input type="radio" name="status" value="Completo" onclick="showDone();">Completo
				<%}%>
    		</label>
			</div>
			<div class="form-group">
				<label>Anexos:</label>
				<label class="btn btn-default btn-file">
					Anexar... <input type="file" multiple name="file" onchange="uploadFile(event)" style="display: none;"/> 
				</label>
				<input type="text" id="anexo" name="anexo" style="display: none;" value="<%=data.anexo%>" accept="image/x-png,image/gif,image/jpeg">
				<button id="download" class="btn btn-primary" type="button" disabled onclick="downloadFile()">Baixar anexo</button>
				<a href="" download id="downloadLink"></a>
			</div>

			<div class="form-group">
				<label>Submetido por:</label>
				<input class="form-control" type="text" placeholder="Nome do usuário" name="name" value="<%=data.name%>">
			</div>
			<div class="form-group" id="done">
				<label>Concluido por:</label>
				<%if(data.status == "Completo"){%>
					<input id="inputDone" class="form-control" type="text" placeholder="Nome do usuário" name="nameDone" value="<%=data.nameDone%>">
					<%}else{%>
						<input id="inputDone" class="form-control" type="text" placeholder="Nome do usuário" name="nameDone" disabled>
						<%}%>
			</div>
			<button id="btnSubmit" class="btn btn-primary" type="submit">Criar tarefa</button>
		</form>
	</div>
</body>

</html>